<!DOCTYPE html>
<html ng-App="KRRclass" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title> Simple SW Application </title>
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <link href="./css/css-custom.css" rel="stylesheet">
</head>

<body ng-controller="MainCtrl">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-acl mb-5">
    <a class="navbar-brand" href="#">
      <img src="http://www.few.vu.nl/~wissen/rw_common/images/Griffioen_Boven_Engels.png" height="80" alt="">
      My Simple Semantic Web Application
    </a>
  </nav>

  <!-- Main Content -->
  <div class="container mb-5">

    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-8">
          <h2>Give a name for your Web Application</h2>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="myInputAppName" placeholder="Type here the name of your Web Application" >
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-8 align-self-center">
          <!-- TODO : Ex 2 here -->
          <h2>Which Knowledge Graph are you going to query?</h2>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="myInputEndPoint" placeholder="Paste here your SPARQL endpoint" >
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-8">
          <h2>What is your Query?</h2>
          <div class="input-group">
            <textarea class="form-control" ng-model="myInputQuery" placeholder="Type here your SPARQL query" rows="4" />
            </textarea>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" ng-click="startMyAwesomeApp()" type="button">GO!</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-8">
        <h2><font color="red">{{myDisplayMessage}}</font></h2>
        <canvas class="chart chart-pie" chart-data="myDynamicData" chart-labels="myDynamicLabels"> </canvas>
      </div>
    </div>
  </div>
</div>


<!-- JavaScript libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/Chart.min.js"></script>
<script src="js/angular-chart.min.js"></script>
<script src="main.js"></script>

</body>

</html>
